@use '../abstracts/variables' as var;

.button {
    text-transform: uppercase;
    padding-bottom: 11px;
    position: relative;
    letter-spacing: 2.29px;
    font-weight: 500;
    border-bottom: 2px solid var.$color-green;
    &:hover {
        color: var.$color-green;
    }

}